.btn__gradient {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  height: 48;
  border-radius: 3;
  border: 0;
  color: white;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}
.btn__gradient:hover {
  background: linear-gradient(45deg, #FE6BD5 30%, #FF8E6E 90%);
}